
<h2>Dashboard</h2>

<div class='container'>
  <p>Welcome, <%= @person.first_name %>.</p>
  <%= render 'shared/user_message' %>

  <a href='/location/search'><button class='btn'>Search Businesses</button></a>
</div>
