<div id="footer">
  <div class='container-fluid'>
    <p class="text-muted">
      This application is under development at Assembly.com.   Current environment: <%= Rails.env %>.
    </p>
  </div>
  <!--[if !IE 7]>
      <style type="text/css">
          #wrap {display:table;height:100%}
      </style>
  <![endif]-->
</div>

