<h2><%= @company.name %></h2>
<h3>Locations</h3>

<div class="locations_list">
  <ol>
    <%
       @company.locations.each do |loc|
    %>
        <li>
          <a href="/location/edit?id=<%= loc.id %>"><%= loc.loc_name %></a>
        </li>

    <%
       end
    %>
  </ol>
  <p>
  <a href='/location/new?company_id=<%= @company.id %>'>Add Location</a>
</div>