<h2>My Companies</h2>
<div class="company_list">
  <ol>
    <% @companies.each do |co| %>
        <li>
          <%= link_to co.name, :controller => 'company', :action => 'edit', :company_id => co.id %>
        </li>

    <% end %>
  </ol>
</div>