<h1><%= Rails.application.config.app_name %></h1>
<div>
    <p class='lead'>I hate wasting my time, don't you?</p>
  <p>You're sick but you don't want to sit in the health clinic with other sick people for two hours.</p>
  <p>The last time you went to the tire store, you waited 90 minutes for a 20 minute job.</p>
  <p>Why? Because you didn't know how long the line was before you went there. What if you knew when the wait time was small?</p>
  <p class='lead'>Watch local services with <%= Rails.application.config.app_name %>!</p>
    <p>Minimize the time you spend waiting in line. Visit local business when the line is small.</p>
    <h3>Consumer Benefits</h3>
    <ul>
      <li>Reduced wait time</li>
      <li>Wait time notifications (watch)</li>
      <li>Favorite companies list</li>
    </ul>
    <h3>Business Benefits</h3>
    <ul>
      <li>Happier customers</li>
      <li>Smoother demand flow</li>
      <li>Demand forecast (# of watchers)</li>
    </ul>
  <p><%= Rails.application.config.app_name %> is a totally free application.</p>
  <h4><a href='/home'>Click here to sign up today!</a></h4>
</div>

