<!DOCTYPE html>
<html>
<head>
	<title>Wait-Killer</title>
	<%= stylesheet_link_tag "application", media: "all" %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
    	<a href="/category/index">Categories</a>
    </div>
  </div>

  <%= yield %>

<div class="footer">Michael (@vbsql7)</div>
</body>
</html>