<!DOCTYPE html>
<html>
<head>
	<title>Wait-Killer</title>
	<%= stylesheet_link_tag "application", media: "all" %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container-fluid">
	  <div class="navbar">
	    <div class="navbar-inner">
	    	<a href="/category/index">Categories</a>
	    </div>
	  </div>
	  
      <%= yield %>

  <div class="footer">Michael (@vbsql7)</div>
  </div>
</body>
</html>